<!DOCTYPE html>
<html>
<head>
    <title>About</title>
     <link rel="icon" href="/public/img/icon.jpg">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="main_content">
         {{>header}}
         <p>This site was created by {{name}}. it display the weather</p>
    <img class="photo" src="./img/cat1.jpg" alt="">
    </div>
    {{>footer}}
</body>
</html>